@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-display: swap;
}

.app {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

* {
    font-family:  'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.app-header {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 0 1rem;
}

.react-flow {
    font-size: 12px;
}

.react-flow__node-custom {
    border: 1px solid #555;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

.react-flow__node-dbserver {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 1px solid #555;
    background-color: #366c6b;
    border-radius: 50%;
}

.react-flow__node-backend-server {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 1px solid #555;
    background-color: #36576c;
    border-radius: 50%;
}

.react-flow__node-client-server {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 1px solid #555;
    background-color: #54366c;
    border-radius: 50%;
}

.react-flow__attribution {
    height: 1px;
    width: 2px;
}

.reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.dndnode {
    padding: 1rem;
    border: 1px solid #1a192b;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.center-in-context {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.st0{fill:#FFFFFF;}
.st1{fill:#651D96;}
.st2{fill:#8C32CB;}
.st3{fill:#371051;}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}