{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "requirePragma": false,
  "proseWrap": "always",
  "printWidth": 290,
  "tabWidth": 4,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "useTabs": true
}
